<!DOCTYPE html>
<html>
<head>
  <title>Angular 101</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link rel="stylesheet" href="css/vendor/foundation.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="CoolModule">

  <div class="container" ng-controller="CoolController">

    <form ng-submit="addTodo(task)">
      <input type="text" placeholder="Enter Item" ng-model="task.item">
    </form>

    <p>{{ remaining() }} item(s) to do</p>

    <hr>

    <ul>
      <li class="status-{{ todo.complete }}" ng-click="toggleStatus(todo)" ng-repeat="todo in allTasks">{{ todo.task }}</li>
    </ul>

  </div>

  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/handlebars.js"></script>
  <script src="js/vendor/angular.js"></script>
  <!-- TEMPLATES -->
  <script src="js/templates.js"></script>
  <!-- MAIN -->
  <script src="js/main.js"></script>

</body>
</html>
